@import "./variables.scss";
@import "./mixins.scss";
@import "./animation.scss";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  color: $text-dark;
}

* a,
* input,
* li,
body {
  font-family: "Maven Pro", sans-serif;
  color: $text-dark;
}

body {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-attachment: fixed;
  background-position: center;
}

.container {
  max-width: 984px;
  margin: 0 auto;
}

.column {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: $super-small 0;

  @media (max-width: $mobile) {
    grid-template-columns: 100%;
  }
}

.btn {
  @include center-items;
  border-radius: $super-large;
  border: none;
  padding: 6px 14px;
  background-color: $blue-50;
  color: $text-light;
  opacity: 0.9;
  cursor: pointer;
  font-weight: 600;
  box-shadow: $main-shadow;
  gap: $mini-large;

  &:hover {
    animation: size 1s ease-in-out infinite;
  }

  > i {
    color: $text-light;
  }
}

@import "./home.scss";
@import "./post.scss";
