.container-exercicios {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercicios {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 15px;
}

.exercicio {
    display: flex;
    flex-direction: column;
}

.hotel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.s4-hotel-estender {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 10px;
}

@keyframes background {
  from   {
    bottom: -100%;
    opacity: .8;
  }
  to  {
    bottom: 100%;
    opacity: 1;
  }
}
.animation-background {
    animation: background 8s infinite linear;
    transition: all .5s ease-in-out;
}

.name {
    position: fixed;
    right: 0;
    font-weight: 700;
    height: 450px;
    writing-mode: vertical-lr;
}
