.container-exercicios {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exercicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.exercicio {
    display: flex;
    flex-direction: column;
}

#teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.igual {
    grid-row: span 2;
}

.btn-clear {
    grid-column: span 2;
}
